@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Gradiente de fondo para el texto */
.text-gradient {
  background: linear-gradient(to right, #7e5bef, #4c6ef5);
  -webkit-background-clip: text;
  color: transparent;
}

/* Efecto de enlace */
.nav-link {
  color: white;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #319795;
}

/* Estilos de los botones */
.btn-nav {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('/public/img/background.svg') no-repeat center center;
  background-size: cover;
  z-index: -1;
}

.btn-nav:hover .gitsvg {
  fill: white; /* Cambia el color del ícono a blanco */
}