@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url('/img/background.svg');
  background-size: cover; 
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}

/* Gradiente de fondo para el texto */
.text-gradient {
  background: linear-gradient(to right, #7e5bef, #4c6ef5);
  -webkit-background-clip: text;
  color: transparent;
}

/* Efecto de enlace */
.nav-link {
  color: white;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #319795;
}

